.padding-top-bottom-20px {
	padding-top: 20px;
	padding-bottom: 20px;
}

.padding-top-20px{
	padding-top: 20px;
}

.padding-bottom-20px{
	padding-bottom: 20px;
}

.margin-0-auto{
	margin: 0 auto !important;
}

.cream-purple{
	background: #A75265;
    color: white;
}